body {
  background-color: pink;
}

.display {
  border-collapse: collapse;
}

.display > thead > tr > th {
  border-bottom: solid 2px black;
  text-align: center;
  font-size: 14pt;
}

.movies > tr {
  text-align: center;
}

.movies > tr > td {
  border: solid 1px black;
}

#long {
  width: 350px;
}

#medium {
  width: 250px;
}

#short {
  width: 60px;
  padding: none;
}
